img{
    border-radius:1px;
    width:480px;
    border-color: black;
    border-style: groove;
    
}
body{
    background-color:pink;
}
#content{
    display:flex;
    gap:1cm;

}
h1{
    text-align:center;
    color:purple;
}
.wishes{
    color:red;
}