*{
    color:red;
}
p{
    font-style:italic;
}
td,u{
    font-style:oblique;
    font--weight:bolder;
}
p>sup
{
    color:cadetblue;
}
p>small
{
    font-weight:bolder;
}
#1
{
    color:cadetblue;
}
.1
{
    color:darkgreen;
}